[submodule "libs/scrypt"]
	path = libs/scrypt
	url = http://github.com/wg/scrypt
[submodule "libs/SqrlData"]
	path = libs/SqrlData
	url = https://github.com/tuttlen/SqrlData.git
[submodule "libs/Android.Ed25519"]
	path = libs/Android.Ed25519
	url = https://github.com/dazoe/Android.Ed25519.git
